.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 20px;
}
.container .card {
  margin: 50px;
  position: relative;
}
.container .card img {
  width: 340px;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.container .card h3 {
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  padding-top: 82%;
  width: 66%;
  padding-left: 6%;
}