.error {
  color: #ff6060;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  .title {
    width: 597px;
    height: 263px;
    font-size: 288px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 7rem;
  }
  .subtitle {
    width: 872px;
    height: 51px;
    font-size: 36px;
    font-weight: 500;
    margin-top: 7rem;
  }
  .link {
    color: #ff6060;
    font-size: 18px;
    font-weight: 500;
    margin-top: 182px;
  }
}
//Responsive
@media (max-width: 768px) {
  .error {
    .title {
      font-size: 288px;
    }
    .subtitle {
      font-size: 29px;
      margin-left: 11rem;
    }
    .link {
      font-size: 18px;
    }
  }
}
@media (max-width: 425px) {
  .error {
    .title {
      font-size: 186px;
      margin-left: 14rem;
    }
    .subtitle {
      font-size: 15px;
      margin-left: 32rem;
    }
    .link {
      font-size: 18px;
    }
  }
}
